<template>
    <div class="lg:max-w-5xl w-full bg-listBlack cursor-pointer transition-all duration-300 hover:scale-105">
        <NuxtLink :to="{ name: 'FullCard', params: { playerData: playerData }}">
            <div class="flex flex-row items-center lg:mx-[126px] mx-[34px] py-[11px] mt-[1px]">
                <p class="uppercase font-bold text-[10px] flex-auto min-w-[140px]">{{ playerData.name }}</p>
                <StatBox 
                    v-for="(item,index) in listVariables" 
                    :class="{'ml-[22px] lg:ml-[20px]':index>0}"
                    :key="item.data+index" 
                    :data="playerData[item.data]"
                    :state="item.state"
                />
            </div>
        </NuxtLink>
    </div>
</template>

<script>
export default {
  name: 'ListItem',
  props:['playerData','listVariables'],
}
</script>
  