<template>
    <div class="w-full h-16 bg-black flex items-center justify-center">
      <div class="lg:max-w-[1024px] fixed w-full flex flex-row justify-between items-center">
        <button class="w-16 aspect-square flex justify-center bg-lightBlack"><img src="../static/menu.svg" height="10" width="16" alt="menu-button"></button>
        <img src="../static/RS-logo.png"
          class="h-fit mr-[15px]"
          :height="getWindowWidth > 640 ? 25 : 20.08" 
          :width="getWindowWidth > 640 ? 107.64 : 88.45" 
          alt="RS-logo"
        >
      </div>
    </div>
</template>

<script>
export default {
  name: 'NavBar',
  computed:{
    getWindowWidth: function(){
      if(process.browser)
        return window.innerWidth;
      return 0;
    }
  },
}
</script>
  