<template>
    <div class="h-[31px] min-w-[46px] flex items-center justify-center text-xs font-bold rounded" :class="{
        'bg-white' : state == 0, 
        'bg-black': state != 0, 
        'border border-white' : state == 2
    }">
        <p :class="{'text-black' : state == 0}">{{ data }}</p>
    </div>
</template>

<script>
export default {
  name: 'StatBox',
  props:['data','state'],
  computed:{},
}
</script>
  