<template>
    <div class="min-w-[100px]">
        <hr class="h-0.5 bg-white">
        <div class="flex flex-row justify-between items-center">
            <p class="uppercase text-sm font-bold">{{ title.substring(0,3) }}</p>
            <p>{{ data.average }}</p>
        </div>
        <hr class="h-0.5 bg-white">
        <div class="pt-4 pb-2" v-for="(value, key) in data" :key="key">
            <div class="flex flex-row justify-between items-center" v-if="value != 'average'">
                <p class="text-[10px] font-bold">{{ key.charAt(0).toUpperCase() + key.slice(1).split(/(?=[A-Z])/).join(" ") }}</p>
                <p class="text-sm font-bold ml-2">{{ value }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'StatList',
  props:['title','data']
}
</script>