<template>
    <div class="flex flex-row items-center cursor-pointer" :class="[setLeft ? 'justify-left min-w-[140px]' : 'justify-center']">
      <p class="pr-1 text-xs">{{ title }}</p>
      <img :src="loadImg">
    </div>
</template>

<script>
export default {
  name: 'TitleSort',
  props: ['title','state','setLeft'],
  computed:{
    loadImg: function(){
        switch(this.state){
            case 0:
                return require('../static/sort-icon.svg');
            case 1:
                return require('../static/down-arrow.svg');
            case 2:
                return require('../static/up-arrow.svg');
        }
            
    }
  },
}
</script>