<template>
    <div v-if="playerData.fullInfo">
        <NavBar class="fixed z-10" />
        <div class="bg-lightGrey min-h-screen flex justify-center">
            <div class="lg:max-w-5xl w-full bg-black pt-[130px] ">
                <div class="rounded mx-6 sm:px-4 px-2 bg-listBlack flex sm:flex-row flex-col sm:items-start items-center">
                    <img class="h-[258px] w-[182px]" :src="$route.params.playerData ? imgUrl : ''" alt="">
                    <div class="flex flex-row flex-wrap pt-3 mb-6 sm:mx-7 justify-center">
                        <StatList class="sm:ml-[14px] pb-6"
                            title="pace"
                            :data="playerData.fullInfo.statistics.pace"
                        />
                        <StatList class="ml-[14px] pb-6"
                            title="shooting"
                            :data="playerData.fullInfo.statistics.shooting"
                        />
                        <StatList class="ml-[14px] pb-6"
                            title="passing"
                            :data="playerData.fullInfo.statistics.passing"
                        />
                        <StatList class="sm:ml-[14px] pb-6"
                            title="dribbling"
                            :data="playerData.fullInfo.statistics.dribbling"
                        />
                        <StatList class="ml-[14px] pb-6"
                            title="defense"
                            :data="playerData.fullInfo.statistics.defense"
                        />
                        <StatList class="ml-[14px] pb-6"
                            title="shooting"
                            :data="playerData.fullInfo.statistics.shooting"
                        />
                    </div>
                </div>
                <div class="lg:mt-3 mt-8 mx-11 mb-8">
                    <div class="flex flex-row items-end mb-8">
                        <p class="font-bold text-4xl mr-2 sm:w-auto w-min">{{ playerData.name }}</p>
                        <NuxtLink 
                            to="/" 
                            class="font-bold text-sm text-cardGrey border-b border-dashed border-cardGrey
                                transition-all duration-300 hover:text-white"
                        >
                            View all cards
                        </NuxtLink>
                    </div>
                    <div class="flex lg:flex-row flex-col justify-between mr-9">
                        <div class="bottom_stat_box lg:border-r">
                            <p class="font-bold lg:text-cardGrey text-white">Club</p>
                            <p class=" lg:mt-5">{{ playerData.fullInfo.club }}</p>
                        </div>
                        <div class="bottom_stat_box lg:border-r">
                            <p class="font-bold lg:text-cardGrey text-white">League</p>
                            <p class="lg:mt-5">{{ playerData.fullInfo.league }}</p>
                        </div>
                        <div class="bottom_stat_box lg:border-r">
                            <p class="font-bold lg:text-cardGrey text-white">Nation</p>
                            <p class="lg:mt-5">{{ playerData.fullInfo.nation }}</p>
                        </div>
                        <div class="bottom_stat_box lg:border-r">
                            <p class="font-bold lg:text-cardGrey text-white">Strong Foot</p>
                            <p class="lg:mt-5">{{ playerData.fullInfo.strongFoot.charAt(0).toUpperCase() + playerData.fullInfo.strongFoot.slice(1) }}</p>
                        </div>
                        <div class="bottom_stat_box lg:border-r">
                            <p class="font-bold lg:text-cardGrey text-white">Age</p>
                            <p class="lg:mt-5">{{ playerData.fullInfo.age == '' ? playerData.fullInfo.age.substring(0,2) : 'Unknown' }}</p>
                        </div>
                        <div class="bottom_stat_box lg:border-r">
                            <p class="font-bold lg:text-cardGrey text-white">Height</p>
                            <p class="lg:mt-5">{{ playerData.fullInfo.height }}</p>
                        </div>
                        <div class="bottom_stat_box">
                            <p class="font-bold lg:text-cardGrey text-white">Workrates</p>
                            <p class="lg:mt-5">{{ playerData.fullInfo.workRatesAttacking + ' / ' + playerData.fullInfo.workRatesDefensive }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { client } from '../sanityClient'
import imageUrlBuilder from '@sanity/image-url'

const builder = imageUrlBuilder(client)

export default {
  name: 'FullCard',
  data: function () {
    return {
        playerData: {},
    }
  },
  created: function(){
    if(!this.$route.params.playerData){
        this.$router.push('/')
        return
    }
    this.playerData = this.$route.params.playerData
  },
  computed:{
    imgUrl: function(){
        return builder.image(this.playerData.fullInfo?.cardImage?.asset?._ref).url()
    }
  }
}
</script>

<style>
.bottom_stat_box{
    @apply flex; 
    @apply flex-row; 
    @apply justify-between;
    @apply items-center;
    @apply border-cardGrey;
    @apply text-xl;
    @apply border-b;
    @apply py-5;
    @apply lg:items-start;
    @apply lg:pr-6;
    @apply lg:flex-col;
    @apply lg:min-w-[84px];
    @apply lg:text-sm;
    @apply lg:border-b-0;
    @apply lg:py-0;
}
</style>