<template>
  <div>
    <NavBar class="fixed z-10" />
    <div class="bg-lightGrey min-h-screen overflow-scroll min-w-max flex flex-col items-center">
      <div class="lg:max-w-5xl w-full lg:min-w-0 min-w-max flex justify-center bg-black">
        <div class="flex flex-row lg:mx-[126px] mx-[34px] pt-24 lg:pt-32 w-full mb-[9px]">
            <TitleSort 
              v-for="(title,index) in titleData" 
              :key="title.name" 
              :title="title.name" 
              :state="title.state" 
              :setLeft="index==0 ? true : false"
              @click.native="clickedTitle(index)"
              class=" border-r-grey h-[27.87px]"
              :class="{
                'border-r mr-4 pr-4' : index != 0 && index < titleData.length-1,
                'flex-auto' : index == 0,
              }"
          />
        </div>
      </div>
      <div class="bg-black min-w-max w-full lg:w-auto">
        <ListItem v-for="card in sortedCards" :key="card._id" :playerData="card" :listVariables="listVariables" />
      </div>
    </div> 
  </div>
  
</template>

<script>
import { client } from '../sanityClient'

async function getAll() {
  const posts = await client.fetch('*[_type=="fifaCard"]')
  return posts
}

export default {
  name: 'IndexPage',
  data: function () {
    return {
      fifaCards: [],
      lastClickedTitle: -1,
      titleData:[
        { name:'Name', state:0 },
        { name:'OVR', state:0 },
        { name:'POS', state:0 },
        { name:'Type', state:0 },
        { name:'PAC', state:0 },
        { name:'SHO', state:0 },
        { name:'PAS', state:0 },
        { name:'DRI', state:0 },
        { name:'DEF', state:0 },
        { name:'PHY', state:0 },
        { name:'WR', state:0 }
      ],
      listVariables:[
        { data:'rating', state:0, },
        { data:'position', state:1, },
        { data:'cardType', state:1, },
        { data:'pace' , state:2, },
        { data:'shooting' , state:2, },
        { data:'passing' , state:2, },
        { data:'dribbling' , state:2, },
        { data:'defense' , state:2, },
        { data:'physical' , state:2, },
        { data:'wr', state:1, },
      ]
    }
  },
  created: function(){
    getAll().then(value => {
      this.fifaCards = value
    })
  },
  computed:{
    convertedFifaCards: function(){
      return this.fifaCards.map(value => ({
        name: value.name,
        rating: value.rating,
        position: value.position,
        cardType: value.cardType.replace(' ','').substring(0,2),
        pace: value.statistics.pace.average,
        shooting: value.statistics.shooting.average,
        passing: value.statistics.passing.average,
        dribbling: value.statistics.dribbling.average,
        defense: value.statistics.defense.average,
        physical: value.statistics.physical.average,
        wr: `${value.workRatesAttacking.substring(0,1)}/${value.workRatesDefensive.substring(0,1)}`,
        fullInfo: { ...value }
      }))
    },
    sortedCards: function(){
      let currentState = this.titleData[Math.abs(this.lastClickedTitle)].state
      let key = this.lastClickedTitle == 0 ? 'name' : this.listVariables[Math.abs(this.lastClickedTitle)-1].data
      if(this.lastClickedTitle == -1 || currentState == 0)
        return this.convertedFifaCards
      else if(currentState == 1){
        return this.convertedFifaCards.sort((cardA,cardB) => {
          if([0,2,3,10].includes(this.lastClickedTitle))
            return cardA[key] > cardB[key] ? 1 : -1
          return cardB[key] - cardA[key]
        })
      }
      else{
        return this.convertedFifaCards.sort((cardA,cardB) => {
          if([0,2,3,10].includes(this.lastClickedTitle))
            return cardA[key] > cardB[key] ? -1 : 1
          return cardA[key] - cardB[key]
        })
      }
    }
  },
  methods: {
    
    clickedTitle: function(index){
      if(this.lastClickedTitle!=-1 && index !== this.lastClickedTitle){
        this.titleData[this.lastClickedTitle].state = 0
      }
      let currentData = this.titleData[index].state
      this.titleData[index].state = currentData == 2 ? 0 : currentData + 1
      this.lastClickedTitle = index
    },
  }
}
</script>

<style>
@font-face {
  font-family: 'Manrope';
  src: url('@/assets/Manrope.ttf') format("truetype");
}

*{
  font-family: 'Manrope';
  @apply text-white;
}


</style>
